<ion-view view-title="Account">
	<ion-content>
		<div class="list">
			<div class="item item-divider">Your Details</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">First Name</span>
				<input type="text" placeholder="First Name" ng-model="user.firstName">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Last Name</span>
				<input type="text" placeholder="Last Name" ng-model="user.lastName">
			</label>
			<div class="item item-divider">Your Doctor</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">Doctor's Name</span>
				<input type="text" placeholder="Doctor's Name" ng-model="doctor.name">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Doctor's Email</span>
				<input type="text" placeholder="Doctor's Email" ng-model="doctor.email">
			</label>
		</div>
	</ion-content>
</ion-view>
